/*****header*****/
.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  color: white;
  background-color: #1f2937;
}

/*****navigation*****/
.nav ul{
  display: flex;
  justify-content: space-evenly;
}

.nav li {
  display: flex;
  flex: 1 1 auto;
  font-size: 1rem;
  background-color: #1f2937;
  border: 1px solid #a2b8d8;
  transition: 0.3s;
}

.nav li:hover{
  color: #1f2937;
  background-color: #a2b8d8;
  transition: 0.3s;
}

.nav a{
  display: block;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.nav a:hover{
  color: #1f2937;
  transition: 0.3s;
}

/*****Input form*****/
.h2{
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background-color: #371F35;
}
.json-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #314158;
}

.label{
  margin: 1rem;
  color: white;
}

.text-area{
  width: 40%;
  background-color: rgb(243, 243, 243);
}

.buttons{
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-main{
  padding: .5em;
  margin: 1em;
  border: none;
  background: none;
  background-color: #a2b8d8;
}


